<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AkamaiTests">

    <test name="SimpleScenario">
        <classes>
            <class name="AkamaiTests">
                <methods>
                    <include name="PositiveSearchForAJobTest"/>
                    <include name="NegativeSearchForAJobTest"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>